In [1]:
import pandas as pd
import numpy as np

In [2]:
#Creatng a dataframe of years and random different years
index = pd.date_range('15/2/1995',periods = 1200)

In [3]:
index

DatetimeIndex(['1995-02-15', '1995-02-16', '1995-02-17', '1995-02-18',
               '1995-02-19', '1995-02-20', '1995-02-21', '1995-02-22',
               '1995-02-23', '1995-02-24',
               ...
               '1998-05-20', '1998-05-21', '1998-05-22', '1998-05-23',
               '1998-05-24', '1998-05-25', '1998-05-26', '1998-05-27',
               '1998-05-28', '1998-05-29'],
              dtype='datetime64[ns]', length=1200, freq='D')

In [4]:
df = pd.Series(np.random.normal(0.8, 2, 1200),index)

In [5]:
df

1995-02-15   -0.345416
1995-02-16    3.231071
1995-02-17    2.536816
1995-02-18    3.192447
1995-02-19    1.798339
                ...
1998-05-25   -0.039130
1998-05-26    0.015036
1998-05-27   -0.302116
1998-05-28    2.640398
1998-05-29   -0.223165
Freq: D, Length: 1200, dtype: float64

In [6]:
#Using groupby method to calculate the mean of each year
grouped = df.groupby(lambda x: x.year)

In [7]:
grouped.mean()

1995    0.685078
1996    0.945719
1997    0.966112
1998    1.074645
dtype: float64

In [8]:
df = pd.DataFrame(df)

In [9]:
df

                   0
1995-02-15 -0.345416
1995-02-16  3.231071
1995-02-17  2.536816
1995-02-18  3.192447
1995-02-19  1.798339
...              ...
1998-05-25 -0.039130
1998-05-26  0.015036
1998-05-27 -0.302116
1998-05-28  2.640398
1998-05-29 -0.223165

[1200 rows x 1 columns]

In [10]:
from statistics import mode

In [11]:
def mean_calc(df):
    for x in df:
        if x == '1995':
            result = (sum(x)//mode(1995))
            print (result)
        elif x =='1996':
            result = (sum(x)//mode(1996))
            return (result)
        elif x == '1997':
            result = (sum(x)//mode(1997))
            return (result)
        else:
            result = (sum(x)//mode(1998))
            return (result)

In [20]:
df.to_csv("datetime1.csv")

In [27]:
headers = ['DATE', 'VALUES']

In [28]:
datetime = pd.read_csv("datetime1.csv", names = headers)

In [32]:
datetime.drop(datetime.index[0],inplace=True)

In [33]:
datetime

            DATE    VALUES
1     1995-02-15 -0.345416
2     1995-02-16  3.231071
3     1995-02-17  2.536816
4     1995-02-18  3.192447
5     1995-02-19  1.798339
...          ...       ...
1196  1998-05-25 -0.039130
1197  1998-05-26  0.015036
1198  1998-05-27 -0.302116
1199  1998-05-28  2.640398
1200  1998-05-29 -0.223165

[1200 rows x 2 columns]

In [34]:
def mean_calc(df):
    for x in df:
        if x == '1995':
            result = (sum(x)//mode(1995))
            print (result)
        elif x =='1996':
            result = (sum(x)//mode(1996))
            return (result)
        elif x == '1997':
            result = (sum(x)//mode(1997))
            return (result)
        else:
            result = (sum(x))
            return (result)

In [37]:
for x in datetime:
    if x == '1995':
        result = (sum(x)//mode(1995))
        print(result)

In [38]:
result

NameError: name 'result' is not defined