In [1]:
import pandas as pd
import numpy as np

In [2]:
#Creatng a dataframe of years and random different years
index = pd.date_range('15/2/1995',periods = 1200)

In [3]:
index

DatetimeIndex(['1995-02-15', '1995-02-16', '1995-02-17', '1995-02-18',
               '1995-02-19', '1995-02-20', '1995-02-21', '1995-02-22',
               '1995-02-23', '1995-02-24',
               ...
               '1998-05-20', '1998-05-21', '1998-05-22', '1998-05-23',
               '1998-05-24', '1998-05-25', '1998-05-26', '1998-05-27',
               '1998-05-28', '1998-05-29'],
              dtype='datetime64[ns]', length=1200, freq='D')

In [4]:
df = pd.Series(np.random.normal(0.8, 2, 1200),index)

In [5]:
df

1995-02-15    2.182131
1995-02-16    1.621928
1995-02-17    1.953709
1995-02-18    1.015610
1995-02-19    0.814168
                ...
1998-05-25    1.873014
1998-05-26    2.870761
1998-05-27    2.340858
1998-05-28    1.231831
1998-05-29    3.444454
Freq: D, Length: 1200, dtype: float64

In [6]:
#Using groupby method to calculate the mean of each year
grouped = df.groupby(lambda x: x.year)

In [7]:
grouped.mean()

1995    0.754887
1996    0.736333
1997    0.602987
1998    0.858081
dtype: float64

In [8]:
df = pd.DataFrame(df)

In [9]:
df

                   0
1995-02-15  2.182131
1995-02-16  1.621928
1995-02-17  1.953709
1995-02-18  1.015610
1995-02-19  0.814168
...              ...
1998-05-25  1.873014
1998-05-26  2.870761
1998-05-27  2.340858
1998-05-28  1.231831
1998-05-29  3.444454

[1200 rows x 1 columns]

In [10]:
from statistics import mode

In [22]:
def mean_calc(df):
    for x in df:
        if x == '1995':
            result = (sum(x)//mode(1995))
        print (result)
    elif x == '1996':
        result = (sum(x)//mode(1996))
    return (result)
    elif x == '1997':
        result = (sum(x)//mode(1997))
    return (result)
    else:
        result = (sum(x)//mode(1998))
    print (result)

SyntaxError: invalid syntax (<ipython-input-22-6ba78a58d426>, line 6)

In [12]:
print (mean_calc(df))

NameError: name 'x' is not defined

In [11]:
headers = ["DATE", "VALUE"]

In [12]:
df = (df, names = headers)

SyntaxError: invalid syntax (<ipython-input-12-a6ccbecc1fe6>, line 1)

In [13]:
df

                   0
1995-02-15 -0.839003
1995-02-16  1.472637
1995-02-17 -1.905848
1995-02-18 -1.267898
1995-02-19  1.887026
...              ...
1998-05-25 -1.308830
1998-05-26  0.152099
1998-05-27 -0.601249
1998-05-28  0.295293
1998-05-29 -0.527776

[1200 rows x 1 columns]